.wrapper {
  background-image: url('/assets/images/background.jpg');
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-blend-mode: darken;
  background-color: #0000004d;
  background-position: 50%;
  background-size: cover;
}